USE [CAMPUS_PARTY]
GO
/****** Object:  Table [dbo].[Campusero]    Script Date: 26/05/2020 11:06:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campusero](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](50) NOT NULL,
	[apellidos] [nvarchar](50) NOT NULL,
	[id_ciudad_origen] [int] NOT NULL,
	[documento] [int] NOT NULL,
	[edad] [int] NOT NULL,
 CONSTRAINT [PK_Campusero] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carpas]    Script Date: 26/05/2020 11:06:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carpas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[personal] [bit] NOT NULL,
	[nroFisico] [nchar](10) NULL,
	[id_pabellon] [int] NOT NULL,
 CONSTRAINT [PK_Carpas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ciudades]    Script Date: 26/05/2020 11:06:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudades](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cantidadUniversidades] [nchar](10) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[cantidadHabitantes] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Ciudades] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipo_gamer_campusero]    Script Date: 26/05/2020 11:06:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipo_gamer_campusero](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_equipo_gamer] [int] NOT NULL,
	[id_campusero] [int] NOT NULL,
	[fecha_ingreso] [date] NOT NULL,
	[fecha_egreso] [date] NULL,
	[titulos] [int] NULL,
 CONSTRAINT [PK_Equipo_gamer_campusero] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipos]    Script Date: 26/05/2020 11:06:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[serial] [int] NOT NULL,
	[RAM] [int] NOT NULL,
	[disco_duro] [int] NOT NULL,
	[marca] [varchar](50) NULL,
	[version] [varchar](50) NULL,
 CONSTRAINT [PK_Equipos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipos_gamer]    Script Date: 26/05/2020 11:06:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipos_gamer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[id_ciudad] [int] NOT NULL,
 CONSTRAINT [PK_Equipos_gamer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fabricantes]    Script Date: 26/05/2020 11:06:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fabricantes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Fabricantes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fichas_campusero]    Script Date: 26/05/2020 11:06:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fichas_campusero](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_version_evento] [int] NOT NULL,
	[id_campusero] [int] NOT NULL,
	[id_pabellon] [int] NOT NULL,
	[id_carpa] [int] NOT NULL,
	[id_equipo] [int] NULL,
	[id_vehiculo] [int] NULL,
 CONSTRAINT [PK_Eventos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hoteles]    Script Date: 26/05/2020 11:06:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoteles](
	[id_] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[porcentajeDescuento] [int] NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[id_version_evento] [int] NOT NULL,
 CONSTRAINT [PK_Hoteles] PRIMARY KEY CLUSTERED 
(
	[id_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pabellones]    Script Date: 26/05/2020 11:06:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pabellones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[tematica] [varchar](50) NOT NULL,
	[area] [varchar](50) NOT NULL,
	[ubicacion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Pabellones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Software]    Script Date: 26/05/2020 11:06:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Software](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo] [int] NOT NULL,
	[id_fabricante] [int] NOT NULL,
	[id_equipo] [int] NOT NULL,
	[puntajeMaximo] [int] NULL,
	[logros] [int] NULL,
 CONSTRAINT [PK_Software] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipos_software]    Script Date: 26/05/2020 11:06:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos_software](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Tipos_software] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculos]    Script Date: 26/05/2020 11:06:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](5) NOT NULL,
	[conParqueadero] [bit] NOT NULL,
	[placa] [varchar](10) NOT NULL,
	[marca] [varchar](50) NOT NULL,
	[modelo] [int] NOT NULL,
	[version] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Vehiculos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Version_eventos]    Script Date: 26/05/2020 11:06:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Version_eventos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_ciudad] [int] NOT NULL,
	[capacidad_autos] [int] NOT NULL,
	[capacidad_motos] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[fechaInicio] [date] NOT NULL,
	[fechaFin] [date] NOT NULL,
 CONSTRAINT [PK_Version_eventos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Campusero] ON 

INSERT [dbo].[Campusero] ([id], [nombres], [apellidos], [id_ciudad_origen], [documento], [edad]) VALUES (1, N'Aspen', N'Ballard', 11, 1732360471, 23)
INSERT [dbo].[Campusero] ([id], [nombres], [apellidos], [id_ciudad_origen], [documento], [edad]) VALUES (2, N'Gil', N'Ewing', 12, 1411850191, 49)
INSERT [dbo].[Campusero] ([id], [nombres], [apellidos], [id_ciudad_origen], [documento], [edad]) VALUES (3, N'Brianna', N'Barr', 13, 1034139461, 27)
GO
SET IDENTITY_INSERT [dbo].[Campusero] OFF
SET IDENTITY_INSERT [dbo].[Carpas] ON 

INSERT [dbo].[Carpas] ([id], [personal], [nroFisico], [id_pabellon]) VALUES (1, 0, N'1         ', 11)
INSERT [dbo].[Carpas] ([id], [personal], [nroFisico], [id_pabellon]) VALUES (2, 1, N'2         ', 11)
INSERT [dbo].[Carpas] ([id], [personal], [nroFisico], [id_pabellon]) VALUES (3, 0, N'3         ', 11)
GO
SET IDENTITY_INSERT [dbo].[Carpas] OFF
SET IDENTITY_INSERT [dbo].[Ciudades] ON 

INSERT [dbo].[Ciudades] ([id], [cantidadUniversidades], [nombre], [cantidadHabitantes]) VALUES (1, N'1         ', N'Les Bulles', N'1599028   ')
INSERT [dbo].[Ciudades] ([id], [cantidadUniversidades], [nombre], [cantidadHabitantes]) VALUES (2, N'6         ', N'Ulloa (Barrial)', N'791078    ')
INSERT [dbo].[Ciudades] ([id], [cantidadUniversidades], [nombre], [cantidadHabitantes]) VALUES (3, N'4         ', N'Chattanooga', N'1301659   ')
SET IDENTITY_INSERT [dbo].[Ciudades] OFF
SET IDENTITY_INSERT [dbo].[Equipo_gamer_campusero] ON 

INSERT [dbo].[Equipo_gamer_campusero] ([id], [id_equipo_gamer], [id_campusero], [fecha_ingreso], [fecha_egreso], [titulos]) VALUES (1, 9, 88, CAST(N'2020-12-15' AS Date), CAST(N'2020-12-31' AS Date), 1)
INSERT [dbo].[Equipo_gamer_campusero] ([id], [id_equipo_gamer], [id_campusero], [fecha_ingreso], [fecha_egreso], [titulos]) VALUES (2, 19, 37, CAST(N'2020-08-29' AS Date), CAST(N'2020-06-16' AS Date), 4)
INSERT [dbo].[Equipo_gamer_campusero] ([id], [id_equipo_gamer], [id_campusero], [fecha_ingreso], [fecha_egreso], [titulos]) VALUES (3, 4, 59, CAST(N'2019-10-16' AS Date), CAST(N'2019-10-08' AS Date), 10)
GO
SET IDENTITY_INSERT [dbo].[Equipo_gamer_campusero] OFF
SET IDENTITY_INSERT [dbo].[Equipos] ON 

INSERT [dbo].[Equipos] ([id], [serial], [RAM], [disco_duro], [marca], [version]) VALUES (1, 999999, 52, 1150, N'Nulla Magna Malesuada Foundation', N'KGW09JBV1SA')
INSERT [dbo].[Equipos] ([id], [serial], [RAM], [disco_duro], [marca], [version]) VALUES (2, 999999, 36, 3731, N'Morbi LLC', N'GKM42HAW2AI')
INSERT [dbo].[Equipos] ([id], [serial], [RAM], [disco_duro], [marca], [version]) VALUES (3, 1000000, 35, 2254, N'Integer Vitae Nibh Ltd', N'GBL02AIR8DC')
GO
SET IDENTITY_INSERT [dbo].[Equipos] OFF
SET IDENTITY_INSERT [dbo].[Equipos_gamer] ON 

INSERT [dbo].[Equipos_gamer] ([id], [nombre], [id_ciudad]) VALUES (1, N'nisl arcu', 4)
INSERT [dbo].[Equipos_gamer] ([id], [nombre], [id_ciudad]) VALUES (2, N'lobortis quis, pede.', 18)
INSERT [dbo].[Equipos_gamer] ([id], [nombre], [id_ciudad]) VALUES (3, N'lectus.', 4)
SET IDENTITY_INSERT [dbo].[Equipos_gamer] OFF
SET IDENTITY_INSERT [dbo].[Fabricantes] ON 

INSERT [dbo].[Fabricantes] ([id], [nombre]) VALUES (1, N'et netus et malesuada')
INSERT [dbo].[Fabricantes] ([id], [nombre]) VALUES (2, N'at, egestas a, scelerisque')
INSERT [dbo].[Fabricantes] ([id], [nombre]) VALUES (3, N'arcu. Sed et')
GO
SET IDENTITY_INSERT [dbo].[Fabricantes] OFF
SET IDENTITY_INSERT [dbo].[Fichas_campusero] ON 

INSERT [dbo].[Fichas_campusero] ([id], [id_version_evento], [id_campusero], [id_pabellon], [id_carpa], [id_equipo], [id_vehiculo]) VALUES (101, 2, 47, 12, 315, 87, 83)
INSERT [dbo].[Fichas_campusero] ([id], [id_version_evento], [id_campusero], [id_pabellon], [id_carpa], [id_equipo], [id_vehiculo]) VALUES (102, 2, 51, 13, 390, 62, 22)
INSERT [dbo].[Fichas_campusero] ([id], [id_version_evento], [id_campusero], [id_pabellon], [id_carpa], [id_equipo], [id_vehiculo]) VALUES (103, 2, 37, 13, 366, 16, 51)
GO
SET IDENTITY_INSERT [dbo].[Fichas_campusero] OFF
SET IDENTITY_INSERT [dbo].[Hoteles] ON 

INSERT [dbo].[Hoteles] ([id_], [nombre], [porcentajeDescuento], [direccion], [id_version_evento]) VALUES (1, N'mi, ac mattis velit', 21, N'738-6481 Magna St.', 2)
INSERT [dbo].[Hoteles] ([id_], [nombre], [porcentajeDescuento], [direccion], [id_version_evento]) VALUES (2, N'malesuada fringilla est. Mauris', 41, N'Ap #166-1181 Dui. Av.', 2)
INSERT [dbo].[Hoteles] ([id_], [nombre], [porcentajeDescuento], [direccion], [id_version_evento]) VALUES (3, N'a sollicitudin orci sem', 23, N'Ap #593-3043 Non, Av.', 2)
GO
SET IDENTITY_INSERT [dbo].[Hoteles] OFF
SET IDENTITY_INSERT [dbo].[Pabellones] ON 

INSERT [dbo].[Pabellones] ([id], [nombre], [tematica], [area], [ubicacion]) VALUES (11, N'odio,', N'Mercedes-Benz', N'soups', N'red')
INSERT [dbo].[Pabellones] ([id], [nombre], [tematica], [area], [ubicacion]) VALUES (12, N'Curabitur', N'Porsche', N'seafood', N'orange')
INSERT [dbo].[Pabellones] ([id], [nombre], [tematica], [area], [ubicacion]) VALUES (13, N'sapien', N'General Motors', N'soups', N'green')
SET IDENTITY_INSERT [dbo].[Pabellones] OFF
SET IDENTITY_INSERT [dbo].[Software] ON 

INSERT [dbo].[Software] ([id], [id_tipo], [id_fabricante], [id_equipo], [puntajeMaximo], [logros]) VALUES (1, 2, 65, 95, 99, NULL)
INSERT [dbo].[Software] ([id], [id_tipo], [id_fabricante], [id_equipo], [puntajeMaximo], [logros]) VALUES (2, 2, 96, 43, 4, NULL)
INSERT [dbo].[Software] ([id], [id_tipo], [id_fabricante], [id_equipo], [puntajeMaximo], [logros]) VALUES (3, 2, 43, 56, 39, NULL)
GO
SET IDENTITY_INSERT [dbo].[Software] OFF
SET IDENTITY_INSERT [dbo].[Tipos_software] ON 

INSERT [dbo].[Tipos_software] ([id], [nombre]) VALUES (1, N'Educacion')
INSERT [dbo].[Tipos_software] ([id], [nombre]) VALUES (2, N'Videojuego')
SET IDENTITY_INSERT [dbo].[Tipos_software] OFF
SET IDENTITY_INSERT [dbo].[Vehiculos] ON 

INSERT [dbo].[Vehiculos] ([id], [tipo], [conParqueadero], [placa], [marca], [modelo], [version]) VALUES (1, N'Moto', 0, N'TWZ 662', N'Toyota', 2011, N'CJI67YHZ0NN')
INSERT [dbo].[Vehiculos] ([id], [tipo], [conParqueadero], [placa], [marca], [modelo], [version]) VALUES (2, N'Carro', 0, N'YER 378', N'RAM Trucks', 2017, N'WBY31EZV1KT')
INSERT [dbo].[Vehiculos] ([id], [tipo], [conParqueadero], [placa], [marca], [modelo], [version]) VALUES (3, N'Carro', 0, N'CCC 634', N'Porsche', 2014, N'WJV75GCB0KU')
GO
SET IDENTITY_INSERT [dbo].[Vehiculos] OFF
SET IDENTITY_INSERT [dbo].[Version_eventos] ON 

INSERT [dbo].[Version_eventos] ([id], [id_ciudad], [capacidad_autos], [capacidad_motos], [nombre], [fechaInicio], [fechaFin]) VALUES (2, 10, 50, 50, N'Campus Party Colombia 2014', CAST(N'2013-06-30' AS Date), CAST(N'2013-07-01' AS Date))
SET IDENTITY_INSERT [dbo].[Version_eventos] OFF
ALTER TABLE [dbo].[Campusero]  WITH CHECK ADD  CONSTRAINT [FK_Campusero_Ciudades] FOREIGN KEY([id_ciudad_origen])
REFERENCES [dbo].[Ciudades] ([id])
GO
ALTER TABLE [dbo].[Campusero] CHECK CONSTRAINT [FK_Campusero_Ciudades]
GO
ALTER TABLE [dbo].[Carpas]  WITH CHECK ADD  CONSTRAINT [FK_Carpas_Pabellones] FOREIGN KEY([id_pabellon])
REFERENCES [dbo].[Pabellones] ([id])
GO
ALTER TABLE [dbo].[Carpas] CHECK CONSTRAINT [FK_Carpas_Pabellones]
GO
ALTER TABLE [dbo].[Equipo_gamer_campusero]  WITH CHECK ADD  CONSTRAINT [FK_Equipo_gamer_campusero_Campusero] FOREIGN KEY([id_campusero])
REFERENCES [dbo].[Campusero] ([id])
GO
ALTER TABLE [dbo].[Equipo_gamer_campusero] CHECK CONSTRAINT [FK_Equipo_gamer_campusero_Campusero]
GO
ALTER TABLE [dbo].[Equipo_gamer_campusero]  WITH CHECK ADD  CONSTRAINT [FK_Equipo_gamer_campusero_Equipos_gamer] FOREIGN KEY([id_equipo_gamer])
REFERENCES [dbo].[Equipos_gamer] ([id])
GO
ALTER TABLE [dbo].[Equipo_gamer_campusero] CHECK CONSTRAINT [FK_Equipo_gamer_campusero_Equipos_gamer]
GO
ALTER TABLE [dbo].[Equipos_gamer]  WITH CHECK ADD  CONSTRAINT [FK_Equipos_gamer_Ciudades] FOREIGN KEY([id_ciudad])
REFERENCES [dbo].[Ciudades] ([id])
GO
ALTER TABLE [dbo].[Equipos_gamer] CHECK CONSTRAINT [FK_Equipos_gamer_Ciudades]
GO
ALTER TABLE [dbo].[Fichas_campusero]  WITH CHECK ADD  CONSTRAINT [FK_Fichas_campusero_Campusero1] FOREIGN KEY([id_campusero])
REFERENCES [dbo].[Campusero] ([id])
GO
ALTER TABLE [dbo].[Fichas_campusero] CHECK CONSTRAINT [FK_Fichas_campusero_Campusero1]
GO
ALTER TABLE [dbo].[Fichas_campusero]  WITH CHECK ADD  CONSTRAINT [FK_Fichas_campusero_Carpas] FOREIGN KEY([id_carpa])
REFERENCES [dbo].[Carpas] ([id])
GO
ALTER TABLE [dbo].[Fichas_campusero] CHECK CONSTRAINT [FK_Fichas_campusero_Carpas]
GO
ALTER TABLE [dbo].[Fichas_campusero]  WITH CHECK ADD  CONSTRAINT [FK_Fichas_campusero_Equipos] FOREIGN KEY([id_equipo])
REFERENCES [dbo].[Equipos] ([id])
GO
ALTER TABLE [dbo].[Fichas_campusero] CHECK CONSTRAINT [FK_Fichas_campusero_Equipos]
GO
ALTER TABLE [dbo].[Fichas_campusero]  WITH CHECK ADD  CONSTRAINT [FK_Fichas_campusero_Pabellones] FOREIGN KEY([id_pabellon])
REFERENCES [dbo].[Pabellones] ([id])
GO
ALTER TABLE [dbo].[Fichas_campusero] CHECK CONSTRAINT [FK_Fichas_campusero_Pabellones]
GO
ALTER TABLE [dbo].[Fichas_campusero]  WITH CHECK ADD  CONSTRAINT [FK_Fichas_campusero_Vehiculos] FOREIGN KEY([id_vehiculo])
REFERENCES [dbo].[Vehiculos] ([id])
GO
ALTER TABLE [dbo].[Fichas_campusero] CHECK CONSTRAINT [FK_Fichas_campusero_Vehiculos]
GO
ALTER TABLE [dbo].[Fichas_campusero]  WITH CHECK ADD  CONSTRAINT [FK_Fichas_campusero_Version_eventos] FOREIGN KEY([id_version_evento])
REFERENCES [dbo].[Version_eventos] ([id])
GO
ALTER TABLE [dbo].[Fichas_campusero] CHECK CONSTRAINT [FK_Fichas_campusero_Version_eventos]
GO
ALTER TABLE [dbo].[Hoteles]  WITH CHECK ADD  CONSTRAINT [FK_Hoteles_Version_eventos] FOREIGN KEY([id_version_evento])
REFERENCES [dbo].[Version_eventos] ([id])
GO
ALTER TABLE [dbo].[Hoteles] CHECK CONSTRAINT [FK_Hoteles_Version_eventos]
GO
ALTER TABLE [dbo].[Software]  WITH CHECK ADD  CONSTRAINT [FK_Software_Equipos] FOREIGN KEY([id_equipo])
REFERENCES [dbo].[Equipos] ([id])
GO
ALTER TABLE [dbo].[Software] CHECK CONSTRAINT [FK_Software_Equipos]
GO
ALTER TABLE [dbo].[Software]  WITH CHECK ADD  CONSTRAINT [FK_Software_Fabricantes] FOREIGN KEY([id_fabricante])
REFERENCES [dbo].[Fabricantes] ([id])
GO
ALTER TABLE [dbo].[Software] CHECK CONSTRAINT [FK_Software_Fabricantes]
GO
ALTER TABLE [dbo].[Software]  WITH CHECK ADD  CONSTRAINT [FK_Software_Tipos_software] FOREIGN KEY([id_tipo])
REFERENCES [dbo].[Tipos_software] ([id])
GO
ALTER TABLE [dbo].[Software] CHECK CONSTRAINT [FK_Software_Tipos_software]
GO
ALTER TABLE [dbo].[Version_eventos]  WITH CHECK ADD  CONSTRAINT [FK_Version_eventos_Ciudades] FOREIGN KEY([id_ciudad])
REFERENCES [dbo].[Ciudades] ([id])
GO
ALTER TABLE [dbo].[Version_eventos] CHECK CONSTRAINT [FK_Version_eventos_Ciudades]
GO
